<div class="table-responsive" *ngIf="vm$ | async as vm" class="table-responsive">
  <table class="table mistareas_table">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Estatus</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!vm.tasks.length">
        <td colspan="5">No hay tareas que mostrar</td>
      </tr>
      <tr *ngFor="let task of vm.tasks; let i = index">
        <td>{{ i +1}}</td>
        <td>{{ task.nombre}}</td>
        <td>{{ task.descripcion}}</td>
        <td>
          <span class="icon_ct_table d-block mx-auto" tooltip="Completada" *ngIf="task.estatus == 1; else pendiente">
            <img src="assets/icons/check.svg" alt="Completada" />
          </span>
          <ng-template #pendiente>
            <span class="icon_ct_table d-block mx-auto" tooltip="Pendiente">
              <img src="assets/icons/pending.svg" alt="Pendiente" />
            </span>
          </ng-template>
        </td>
        <td>
          <button (click)="updateTask(task.id)" class="btn">U</button>
          <button (click)="deleteTask(task.id)" class="btn">D</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>