.form-group {
  position: relative;
  textarea,
  // .form-control,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  select {
    min-height: 40px;
    border-radius: 5px;
    border: solid 1px $grey-04;
    background-color: $white;
    font-size: $fs-12;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: $grey-03;
    padding: 8px 13px;
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    &:disabled {
      border-color: $grey-05;
    }
    &.ng-invalid.ng-touched:not(form) {
      -webkit-box-shadow: 0px 0px 1px 1px rgba(214, 54, 73, 0.05);
      -moz-box-shadow: 0px 0px 1px 1px rgba(214, 54, 73, 0.05);
      box-shadow: 0px 0px 1px 1px rgba(214, 54, 73, 0.05);
      border-color: $error;
      &:hover,
      &:focus {
        -webkit-box-shadow: 0px 0px 1px 1px rgba(214, 54, 73, 0.05);
        -moz-box-shadow: 0px 0px 1px 1px rgba(214, 54, 73, 0.05);
        box-shadow: 0px 0px 1px 1px rgba(214, 54, 73, 0.05);
        border-color: $error;
      }
    }

    &::placeholder {
      opacity: 0.7;
      font-size: $fs-12;
      font-weight: 300;
    }
  }
  textarea {
    resize: none;
    &::placeholder {
      font-size: $fs-14;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 0.23px;
      color: $black-03;
    }
  }
  input.ng-invalid.ng-touched ~ .invalid-feedback, select.ng-invalid.ng-touched ~ .invalid-feedback, textarea.ng-invalid.ng-touched ~ .invalid-feedback {
    display: block !important;
    font-size: $fs-14;
  }
}

.invalid-feedback-error {
  color:$error;
  font-size: $fs-14;
}
// ocultar icono password
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}
// ocultar icono password safari
input[type=password]::-webkit-contacts-auto-fill-button,
input[type=password]::-webkit-credentials-auto-fill-button {
   visibility: hidden;
   display: none !important;
   pointer-events: none;
   height: 0;
   width: 0;
   margin: 0;
}